@value color3, color6, color8 from '../../../styles/colors.css';
@value main-font, size4 from '../../../styles/fonts.css';

.wrap {}

.title {
  font-family: main-font, sans-serif;
  background-color: color3;
  color: color6;
  padding: 10px 16px;
  font-size: size4;
}

.connectionsWrap {

}

.connection {
  font-family: main-font, sans-serif;
  background-color: color3;
  padding: 10px 16px;
  color: color8;
  font-weight: bold;
  font-size: size4;
}

.connectionLabel {
  display: inline-block;
}

.connectionIcon {
  display: inline-block;
  background-color: grey;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  margin-right: 10px;
  vertical-align: middle;
}

.connection.connected .connectionIcon {
  background-color: green;
}
